CLIENT_ID=jbxedfmfyc
CLIENT_SECRET=19cc69b70d0108f630e52f72f7a3bd37ba4e11678ad1a7434e9818e1
URL_REDIRECT=http://localhost:8090/
SCOPE=openid profile email offline_access

### URL
LOGIN_URL=http://localhost:8090/login
LOGOUT_URL=http://localhost:8090/logout
LOGIN_REDIRECT_URL=/profile