services:

  satosa-mongo:
    profiles:
      - demo
      - mongo
      - mongoexpress
    image: mongo
    container_name: satosa-mongo
    environment:
      MONGO_INITDB_DATABASE: oidcop
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_DBUSER:-satosa}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_DBPASSWORD:-thatpassword}"
      TZ: "${TZ:-Europe/Rome}"
    volumes:
      - ./mongo/db:/data/db
      - ./mongo/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh
      # - mongodata:/data/db # to be used for external volumes
    ports:
      - '27017-27019:27017-27019'
    networks:
      - iam-proxy-italia

  satosa-mongo-express:
    profiles:
      - demo
      - mongoexpress
    image: mongo-express
    container_name: satosa-mongo-express
    ports:
      - 8082:8081
    depends_on:
      - satosa-mongo
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: "${EXPRESS_USER:-satosauser}"
      ME_CONFIG_BASICAUTH_PASSWORD: "${EXPRESS_PASSWORD:-satosapw}"
      ME_CONFIG_MONGODB_ADMINUSERNAME: "${MONGO_DBUSER:-satosa}"
      ME_CONFIG_MONGODB_ADMINPASSWORD: "${MONGO_DBPASSWORD:-thatpassword}"
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_DBUSER:-satosa}:${MONGO_DBPASSWORD:-thatpassword}@satosa-mongo:27017/
      TZ: "${TZ:-Europe/Rome}"
    networks:
      - iam-proxy-italia

  django_sp:
    profiles:
      - demo
      - dev
    build:
      context: ../
      args:
        - NODE_ENV=local
      dockerfile: iam-proxy-italia-project-demo-examples/django.Dockerfile
    container_name: django_sp
    working_dir: /django_sp
    entrypoint: "sh ../entrypoint.sh"
    volumes:
       - ./djangosaml2_sp:/django_sp:rw
    ports:
      - "8000:8000"
    networks:
      - iam-proxy-italia

  iam-proxy-italia:
    # image: ghcr.io/italia/iam-proxy-italia:latest
    image: iam-proxy-italia:3.0
    build: 
        context: ../      
        args: 
            - NODE_ENV=local        
        dockerfile: Dockerfile
    container_name: iam-proxy-italia
    # depends_on:
    # - satosa-mongo
    stdin_open: ${SATOSA_DEBUG:-false}   # enables PDB when attach to the compose
    tty: ${SATOSA_DEBUG:-false}   # enables PDB when attach to the compose
    environment:
      - TZ=${TZ:-Europe/Rome}
      - SATOSA_DEBUG=${SATOSA_DEBUG:-false}
      - SATOSA_BY_DOCKER=1
      - SATOSA_GET_IDEM_MDQ_KEY=${SATOSA_GET_IDEM_MDQ_KEY:-true}
      - SATOSA_GET_SPID_IDP_METADATA=${SATOSA_GET_SPID_IDP_METADATA:-true}
      - SATOSA_GET_FICEP_IDP_METADATA=${SATOSA_GET_FICEP_IDP_METADATA:-true}
      - SATOSA_GET_CIE_IDP_METADATA=${SATOSA_GET_CIE_IDP_METADATA:-true}

      - BASE_DIR=/satosa_proxy
      - SATOSA_PRIVATE_KEY=${SATOSA_KEYS_FOLDER:-./pki}/${SATOSA_PRIVATE_KEY_FILENAME:-privkey.pem}
      - SATOSA_PUBLIC_KEY=${SATOSA_KEYS_FOLDER:-./pki}/${SATOSA_PUBLIC_KEY_FILENAME:-cert.pem}
      - SATOSA_BASE=https://${SATOSA_HOSTNAME:-localhost}
      - SATOSA_BASE_STATIC=${SATOSA_BASE}/static
      - SATOSA_DISCO_SRV=${SATOSA_BASE_STATIC}/disco.html
      - SATOSA_UNKNOW_ERROR_REDIRECT_PAGE=${SATOSA_BASE_STATIC}/error_page.html
      
      - MONGODB_USERNAME=${MONGO_DBUSER:-satosa}
      - MONGODB_PASSWORD=${MONGO_DBPASSWORD:-thatpassword}
      - SATOSA_ENCRYPTION_KEY=${SATOSA_ENCRYPTION_KEY:-CHANGE_ME!}
      - SATOSA_SALT=${SATOSA_SALT:-CHANGE_ME!}
      - SATOSA_STATE_ENCRYPTION_KEY=${SATOSA_STATE_ENCRYPTION_KEY:-CHANGE_ME!}

      - SATOSA_CONTACT_PERSON_EMAIL_ADDRESS=${SATOSA_CONTACT_PERSON_EMAIL_ADDRESS:-support.example@organization.org}
      - SATOSA_CONTACT_PERSON_TELEPHONE_NUMBER=${SATOSA_CONTACT_PERSON_TELEPHONE_NUMBER:-+3906123456789}
      - SATOSA_CONTACT_PERSON_FISCALCODE=${SATOSA_CONTACT_PERSON_FISCALCODE:-XXXXXX00X00X000Y}
      - SATOSA_CONTACT_PERSON_GIVEN_NAME=${SATOSA_CONTACT_PERSON_GIVEN_NAME:-Contact Me}
      - SATOSA_CONTACT_PERSON_IPA_CODE=${SATOSA_CONTACT_PERSON_IPA_CODE:-ipa00c}
      - SATOSA_CONTACT_PERSON_MUNICIPALITY=${SATOSA_CONTACT_PERSON_MUNICIPALITY:-H501}
      - SATOSA_ORGANIZATION_DISPLAY_NAME_EN=${SATOSA_ORGANIZATION_DISPLAY_NAME_EN:-Example Organization}
      - SATOSA_ORGANIZATION_DISPLAY_NAME_IT=${SATOSA_ORGANIZATION_DISPLAY_NAME_IT:-Example Organization}
      - SATOSA_ORGANIZATION_NAME_EN=${SATOSA_ORGANIZATION_NAME_EN:-example_organization}
      - SATOSA_ORGANIZATION_NAME_IT=${SATOSA_ORGANIZATION_NAME_IT:-example_organization}
      - SATOSA_ORGANIZATION_URL_EN=${SATOSA_ORGANIZATION_URL_EN:-https://example_organization.org}
      - SATOSA_ORGANIZATION_URL_IT=${SATOSA_ORGANIZATION_URL_IT:-https://example_organization.org/it}
      - SATOSA_UI_DESCRIPTION_EN=${SATOSA_UI_DESCRIPTION_EN:-Resource description}
      - SATOSA_UI_DESCRIPTION_IT=${SATOSA_UI_DESCRIPTION_IT:-Resource description}
      - SATOSA_UI_DISPLAY_NAME_EN=${SATOSA_UI_DISPLAY_NAME_EN:-Resource Display Name}
      - SATOSA_UI_DISPLAY_NAME_IT=${SATOSA_UI_DISPLAY_NAME_IT:-Resource Display Name}
      - SATOSA_UI_INFORMATION_URL_EN=${SATOSA_UI_INFORMATION_URL_EN:-https://example_organization.org/information_url}
      - SATOSA_UI_INFORMATION_URL_IT=${SATOSA_UI_INFORMATION_URL_IT:-https://example_organization.org/it/information_url}
      - SATOSA_UI_LOGO_HEIGHT=${SATOSA_UI_LOGO_HEIGHT:-60}
      - SATOSA_UI_LOGO_WIDTH=${SATOSA_UI_LOGO_WIDTH:-80}
      - SATOSA_UI_LOGO_URL=${SATOSA_UI_LOGO_URL:-https://example_organization.org/logo.png}
      - SATOSA_UI_PRIVACY_URL_EN=${SATOSA_UI_PRIVACY_URL_EN:-https://example_organization.org/privacy}
      - SATOSA_UI_PRIVACY_URL_IT=${SATOSA_UI_PRIVACY_URL_IT:-https://example_organization.org/it/privacy}
      - SATOSA_USER_ID_HASH_SALT=${SATOSA_USER_ID_HASH_SALT:-CHANGE_ME!}
    expose:
      - 10000
    ports:
      - "10000:10000"
    volumes:
      - ./iam-proxy-italia-project:/satosa_proxy:rwx
      - ./pyeudiw-healthcheck.sh:/satosa_proxy/pyeudiw-healthcheck.sh:ro
      #- ./eudi-wallet-it-python/pyeudiw:/.venv/lib/python3.12/site-packages/pyeudiw:rwx
      # - iam-proxy-italia-data:/satosa_proxy # to be used for external volumes
    working_dir: /satosa_proxy
    entrypoint: "sh entrypoint.sh"
    networks:
      - iam-proxy-italia
    healthcheck:
      test: ["CMD", "sh", "pyeudiw-healthcheck.sh"]
      interval: 30s
      retries: 10
      start_period: 30s
      timeout: 10s

  satosa-nginx:
    image: nginx:alpine
    container_name: satosa-nginx
    depends_on:
      iam-proxy-italia:
        condition: service_started
      satosa-certbot:
        condition: service_completed_successfully
    ports:
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/html:/usr/share/nginx/html:ro
      - ./certbot/archive:/etc/archive:ro
      - ./certbot/live/${SATOSA_HOSTNAME:-localhost}:/etc/nginx/certs:ro
      # - static:/usr/share/nginx/html # to be used for external volumes
    networks:
      - iam-proxy-italia
    environment:
      - NGINX_HOST=${SATOSA_HOSTNAME:-localhost}
      - TZ=${TZ:-Europe/Rome}

  spid-samlcheck:
    profiles:
      - demo
      - dev
    image: italia/spid-saml-check
    container_name: spid-samlcheck
    ports:
      - "8443:8443"
    networks:
      - iam-proxy-italia
  satosa-certbot:
    image: certbot/certbot
    container_name: satosa-certbot 
    environment:
      - CERTBOT_ENABLED=${SATOSA_CERTBOT_ENABLED:-true}
      - CERTBOT_EMAIL=${SATOSA_CONTACT_PERSON_EMAIL_ADDRESS:-support.example@organization.org}
      - CERTBOT_HOST=${SATOSA_HOSTNAME:-localhost}
      - TZ=${TZ:-Europe/Rome}
    volumes:
      - ./certbot:/etc/letsencrypt
      - ./nginx/html:/var/www/certbot
    networks:
      - iam-proxy-italia
    ports:
      - "80:80"
    entrypoint: "sh /etc/letsencrypt/certbot.sh"

  wallet-trust-anchor:
    image: ghcr.io/italia/spid-cie-oidc-django:latest
    ports:
      - "8005:8005"
    volumes:
      - ./iam-proxy-italia-project/spid_cie_oidc_django/wallet_trust_anchor:/django-project
    networks:
      - iam-proxy-italia
    command: |
        bash -c "cd /django-project/ &&
        python3 manage.py migrate &&
        python3 manage.py loaddata dumps/ta-ec.json &&
        python3 manage.py runserver 0.0.0.0:8005"

networks:
  iam-proxy-italia:
    name: iam-proxy-italia

## External volumes
# volumes:
#   mongodata:
#     name: iam-proxy-italia_mongodata
#     external: true
#   nginx_certs:
#     name: iam-proxy-italia_nginx_certs
#     external: true
#   iam-proxy-italia:
#     name: iam-proxy-italia-data
#     external: true
#   static:
#     name: iam-proxy-italia-static
#     external: true
